<a ui-sref="home">Home</a>&nbsp;&gt;&nbsp;Menu Categories List
<table>
    <caption>found {{ctrl.categoriesList.length}} menu categories</caption>
    <tr>
        <th></th>
        <th>Category</th>
        <th>Short Name</th>
        <th>Special Instruction</th>
    </tr>

    <tr ng-repeat="category in ctrl.categoriesList">
        <td>{{$index + 1}}.</td>
        <td><a ui-sref="items({shortname: category.short_name})">{{category.name}}</a></td>
        <td>{{category.short_name}}</td>
        <td>{{category.special_instructions}}</td>
    </tr>
</table>

