<a ui-sref="home">Home</a>&nbsp;&gt;&nbsp;<a ui-sref="categories">Menu Categories List</a>
<h3>Menu Category: {{ctrl.categoryName}}</h3>
<table>
    <caption>found {{ctrl.items.length}} dishes</caption>
    <tr>
        <th></th>
        <th>Dish Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Small</th>
    </tr>

    <tr ng-repeat="item in ctrl.items">
        <td>{{$index + 1}}.</td>
        <td>{{item.name}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price_large | currency}}</td>
        <td>{{item.price_small | currency}}</td>
    </tr>
</table>
