<table>
    <caption>found {{found.items.length}} dish(es)</caption>
    <tr>
        <th></th>
        <th>Dish Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    <tr ng-repeat="item in found.items">
        <td>{{$index + 1}}.</td>
        <td>{{item.name}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td>
            <button class="btn btn-danger" ng-click="found.onRemove({index: $index})">
                Don't want this one!
            </button>
        </td>
    </tr>
</table>
