<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="NarrowItDownApp">
<div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group row">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
        <button class="btn btn-primary narrow-button" ng-click="ctrl.searchItems();">Narrow It Down For Me!</button>
    </div>

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator
            ng-if="ctrl.isPending"
            pending-timeout="ctrl.setPendingTimeout(350)">
    </items-loader-indicator>

    <!-- found-items should be implemented as a component -->
    <!--<found-items found-items="...." on-remove="...."></found-items>-->
    <found-items
            items="ctrl.found"
            on-remove="ctrl.removeItem(index)"
            ng-if="!ctrl.isEmpty()">
    </found-items>
    <h3 class="message" ng-if="ctrl.showMessage">Nothing found</h3>
</div>

</body>
</html>
