<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="NarrowItDownApp">
<div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group row row-content ">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
        <button class="btn btn-primary narrow-button" ng-click="ctrl.searchDishes();">Narrow It Down For Me!</button>
    </div>

    <div class="row row-content form-group">
        <found-items items="ctrl.found" ng-if="!ctrl.isEmpty()"></found-items>
    </div>
</div>

</body>
</html>
