<div class="container">
  <div class="col-xs-12 col-sm-12">
    <form class="form-horizontal" role="form" name="signupForm" ng-submit="sendsignup()" novalidate>
      <fieldset>
        <legend>Personal Data</legend>

        <!--first name-->
        <div class="form-group">
          <label
              for="firstname"
              class="
                    col-lg-3
                    col-md-3
                    col-sm-3
                    hidden-xs
                    control-label">First Name
          </label>
          <div
              class="
                    col-lg-9
                    col-md-9
                    col-sm-9
                    col-xs-12">
            <input type="text"
                   class="form-control"
                   id="firstname"
                   name="firstname"
                   placeholder="First Name"
                   pattern="^[a-zA-Z]+$"
                   ng-model="signup.firstName"
                   required>
          </div>
        </div>

        <!--last name-->
        <div class="form-group">
          <label for="lastname"
                 class="
                    col-lg-3
                    col-md-3
                    col-sm-3
                    hidden-xs
                    control-label">Last Name
          </label>
          <div
              class="
                    col-lg-9
                    col-md-9
                    col-sm-9
                    col-xs-12">
            <input type="text"
                   class="form-control"
                   id="lastname"
                   name="lastname"
                   placeholder="Last Name"
                   ng-model="signup.lastName"
                   required>
          </div>
        </div>

        <!--email-->
        <div class="form-group">
          <label for="emailid"
                 class="
                    col-lg-3
                    col-md-3
                    col-sm-3
                    hidden-xs
                    control-label">Email
          </label>
          <div
              class="
                    col-lg-9
                    col-md-9
                    col-sm-9
                    col-xs-12">
            <input type="email"
                   class="form-control"
                   id="emailid"
                   name="emailid"
                   placeholder="Email"
                   ng-model="signup.email"
                   required>
          </div>
        </div>

        <!--telephon-->
        <div class="form-group">
          <label for="areaCode"
                 class="
                    col-lg-3
                    col-md-3
                    col-sm-3
                    hidden-xs
                    control-label">Tel. Number
          </label>
          <div class="
                    col-lg-3
                    col-md-3
                    col-sm-4
                    col-xs-5">
            <div class="input-group">
              <div class="input-group-addon">(</div>
              <input type="tel"
                     class="form-control"
                     id="areaCode"
                     name="areaCode"
                     ng-model="signup.tel.areaCode"
                     placeholder="Area code ###"
                     pattern="\d{3}"
                     required>
              <div class="input-group-addon">)</div>
            </div>
          </div>
          <div class="
                    col-lg-6
                    col-md-6
                    col-sm-5
                    col-xs-7">
            <input type="tel"
                   class="form-control"
                   id="telnum"
                   name="telnum"
                   ng-model="signup.tel.number"
                   placeholder="Tel. Number ###-####"
                   pattern="\d{3}-\d{4}"
                   required>
          </div>
        </div>

        <!--favorite dish-->
        <div class="form-group">
          <label for="favoritedish"
                 class="
                    col-lg-3
                    col-md-3
                    col-sm-3
                    hidden-xs
                    control-label">Favorite Dish
          </label>
          <div
              class="
                  col-lg-3
                  col-md-3
                  col-sm-3
                  col-xs-3">
            <input type="text"
                   class="form-control"
                   id="favoritedish"
                   name="favoritedish"
                   ng-model="signup.favoriteDish"
                   placeholder="Favorite Dish"
                   pattern="^[a-zA-Z]{1,2}\d{1,2}$">
          </div>
        </div>
      </fieldset>

      <!--submit-->
      <div class="form-group">
        <div class="
            col-sm-offset-3
            col-sm-9">
          <button type="submit"
                  class="btn btn-primary"
                  ng-disabled="signupForm.$invalid">Sign Up
          </button>
        </div>
      </div>

      <!--help-block-->
      <div ng-show="signupForm.emailid.$invalid && !signupForm.emailid.$pristine"
           class="
              col-lg-offset-3
              col-md-offset-3
              col-sm-offset-3
              help-block">

        <span class="glyphicon glyphicon-remove"></span>
        <span ng-show="signupForm.emailid.$error.required">An email address is required.</span>
        <span ng-show="!signupForm.emailid.$error.required">Enter a valid email address.</span>
      </div>
    </form>
  </div>
</div>
